- semantic_form_for @meal do |f|
  - f.inputs do 
    = f.input :title
    - f.fields_for :meal_steps do |builder|
      - render "meal_step_fields", :f => builder
      = link_to_add_fields "Add Step", f, :meal_steps
    - f.fields_for :meal_tags do |builder|
      - render "meal_tag_fields", :f => builder
      = link_to_add_fields "Add Tag", f, :meal_steps
    = f.commit_button 'Create Meal'