- title "Meal"

%p
  %strong Title:
  =h @meal.title
%ol
  - for tag in @meal.meal_tags
    %li
      =h tag.name

%p
  = link_to "Edit", edit_meal_path(@meal)
  |
  = link_to "Destroy", @meal, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", meals_path
