- title @meal.title

%h3 Ingredients
- for ingredient in @meal.ingredients
  %li
    %h3= h ingredient.name

%h3 Steps
%ol
  - for step in @meal.meal_steps
    %li
      %h3=h step.name

%h3 Tags
%ul
  - for tag in @meal.meal_tags
    %li
      %h3=h tag.name

%p
  - if current_user.is_admin?
    = link_to "Edit", edit_meal_path(@meal)
    |
    = link_to "Destroy", @meal, :confirm => 'Are you sure?', :method => :delete
    |
  = link_to "View All", meals_path
