<% <% form_for @ingredient do |f| -%>
  <p>
    <%= f.label :name %>
    <%= text_field_with_auto_complete :ingredient, :name , {:size => 15}, :url => formatted_ingredients_path(:js), :method => :get%>
  </p>
<% end -%>%>